<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <i class="fa fa-home"></i> 
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/checkin">New Voters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard/return">Returning Voters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/update">Update Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/ticket">Tickets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard/help">Help</a>
        </li>
      </ul>

  <div style="display: flex; justify-content: space-between;">
    <div style="flex-basis: 40%; float: left; margin-right: 5px;">
      <% if (user.clearance == 1) {%>
        <a href="/dashboard/shutdown" class="btn btn-danger btn-block"> Shutdown </a>
      <% } %>
    </div>
    <div style="flex-basis: 40%; float: right;">
      <a href="/admin/logout" class="btn btn-danger btn-block"> Logout </a>
    </div>
  </div>
</nav>