<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/millern901/VoterPass">GitHub</a>
    </li>
  </ul>
  <div style="float: right; margin-right: 15px; color:rgb(255, 255, 255); margin-top: 5px; margin-bottom: 5px;">
    All Rights Reserved to BallotBusters, Inc.  
  </div>
</nav>