<div style="background-color:rgb(233, 233, 236); border-color: rgb(75, 72, 72); border-width: thin; border-style: solid;">
  <%- include('./partials/dashnav.ejs') %>

  <h1 class="text-center mb-3" style="margin-top: 15px;">
      <i class="fa fa-home fa-2x"></i> Voter Pass Queue
  </h1>

  <p class="lead">To add a voter to the queue, just press the button below to generate a ticket. 
                  If a queue has not been set up, you will be redirected to a page where you may do just that!</p>

  <%- include('./partials/messages.ejs') %>
  <div style="margin-bottom: 25px; display: flex; justify-content: space-between;">
    <div style="flex-basis: 48%;">
        <div class="card text-white bg-secondary mb-3" style="margin-left: 15px;">
            <div class="card-header">Current Callback Time</div>
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div style="flex-basis: 48%;">
        <div class="card text-white bg-secondary mb-3" style="margin-right: 15px;">
          <div class="card-header">Generate Ticket</div>
          <div class="card-body">
            <form action="/dashboard/checkin/" method="POST">
                <button type="submit" class="btn btn-primary btn-block">Add Voter</button>
            </form> 
          </div>
        </div>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>
</div>






