<div class="row mt-5">
  <div class="col-md-6 m-auto">

    <div class="text-center">
      <h1> 
        <i class="fab fa-node-js fa-3x"></i> 
        <p>Main Voter Queue</p>
      </h1>
    </div>

    <div class="lead mt-4 text-center">
      <a class="btn btn-primary btn-block" href="/dashboard">Go to Main Dashboard</a> 
      <a class="btn btn-primary btn-block" href="/dashboard/checkin/queueUpdate">Create/Update Main Queue</a>
    </div>

    <div class="row mt-5">
      <div class="col-md-6 m-auto">
          <div class="card card-body">
            <%- include('./partials/messages.ejs') %>
            <form action="/dashboard/checkin/" method="POST">
                <button type="submit" class="btn btn-primary btn-block"> Add voter to queue </button>
            </form>
          </div>
      </div>
    </div>  

  </div>
</div>


