<div class="row mt-5">
  <div class="col-md-6 m-auto">

    <div class="text-center">
      <h1> 
        <i class="fab fa-node-js fa-3x"></i> 
        <p>Voting Queue</p>
      </h1>
    </div>

    <div class="lead mt-4 text-center" style="margin-bottom: 25px;">
      <a class="btn btn-primary btn-block" href="/dashboard">Main Dashboard</a> 
      <a class="btn btn-primary btn-block" href="/dashboard/checkin/queueUpdate">Update Queue</a>
    </div>
    
    <div class="card card-body" style="border-width: medium;">
      <div class="text-center">
        <h3> 
          <i class="fa fa-share-square fa-1x"></i> 
          <p>Ticket Generation</p>
        </h3>
      </div>
      <%- include('./partials/messages.ejs') %>
      <form action="/dashboard/checkin/" method="POST">
          <button type="submit" class="btn btn-primary btn-block">Add New Voter</button>
      </form>
    </div>


  </div>
</div>


