<div class="row mt-5">
    <div class="col-md-6 m-auto">

        <div class="text-center">
            <h1>
                <i class="fa fa-cube fa-2x"></i>
                <p>VoterPass Dashboard</p>
            </h1>
        </div>

        <div class="row" style="margin-bottom: 25px;">
            <div class="column text-center" style="float: left; width: 50%;">
                <div class="card card-body text-center" style="border-width: medium;">
                    <h2>New Voter</h2>
                    <a class="btn btn-primary btn-block" style="width: 50%; margin-left: 25%;" href="/dashboard/checkin">Main</a>  
                </div>
            </div>
            <div class="column text-center" style="float: right; width: 50%;">
                <div class="card card-body text-center" style="border-width: medium;">
                    <h2>Returning Voter</h2>
                    <a class="btn btn-primary btn-block" style="width: 50%; margin-left: 25%;" href="/dashboard/return">Callback</a>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="/admin/logout" class="btn btn-primary btn-block" style="width: 50%; margin-left: 25%;"> Logout </a>
        </div> 
        
    </div>
</div>
