<h1 class="mt-4">Voter Pass Dashboard</h1>
<a href="/admin/logout" class="btn btn-secondary"> Admin Logout </a>

<div class="row mt-5">
    <div class="col-md-6 m-auto">

        <div class="text-center">
            <h1>
                <i class="fa fa-cube fa-2x"></i>
                <p>Welcome to the Voter Pass Dashboard</p>
            </h1>
        </div>

        <div class="row">
            <div class="column text-center" style="float: left; width: 50%;">
                <div class="card card-body text-center">
                    <h2>Voter Checkin</h2>
                    <a class="btn btn-primary btn-block" style="width: 50%;" href="/dashboard/checkin">Main</a>  
                </div>
            </div>
            <div class="column text-center" style="float: right; width: 50%;">
                <div class="card card-body text-center">
                    <h2>Voter Return</h2>
                    <a class="btn btn-primary btn-block" style="width: 50%;" href="/dashboard/return">Callback</a>
                </div>
            </div>
        </div>

        <div class="lead mt-4 text-center">
            <h1>
                <p>Need to logout? Press the button below.</p>
            </h1>
            <a href="/admin/logout" class="btn btn-secondary"> Logout </a>
        </div> 
        
    </div>
</div>


<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <%- include('./partials/messages.ejs') %>
            <form action="/dashboard/" method="POST">
                <button type="submit" class="btn btn-primary btn-block"> Add Voter to Queue TODO</button>
            </form>
        </div>
    </div>
</div>