<div style="background-color:rgb(233, 233, 236); border-color: rgb(75, 72, 72); border-width: thin; border-style: solid;">
    <%- include('./partials/dashnav.ejs') %>

    <h1 class="text-center mb-3" style="margin-top: 15px;">
        <i class="fa fa-home fa-2x"></i> Voter Pass Dashboard
    </h1>

    <div style="margin-bottom: 25px; display: flex; justify-content: space-between;">
        <div style="flex-basis: 48%;">
            <div class="card text-white bg-secondary mb-3" style="margin-left: 15px;">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h4 class="card-title">Secondary card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div style="flex-basis: 48%;">
            <div class="card text-white bg-secondary mb-3" style="margin-right: 15px;">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h4 class="card-title">Secondary card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</div>
