<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">

            <h1 class="text-center mb-3">
                <i class="fa fa-home fa-3x"></i> 
                <p>VoterPass Dashboard</p>
            </h1>

            <div style="margin-bottom: 25px; display: flex; justify-content: space-between;">
                <div style="flex-basis: 48%;">
                    <div class="card card-body text-center">
                        <h4>Checkins</h4>
                        <a class="btn btn-primary btn-block" style="width: 75%; margin-left: 12%;" href="/dashboard/checkin">Main</a>  
                    </div>
                </div>
                <div style="flex-basis: 48%;">
                    <div class="card card-body text-center">
                        <h4>Returns</h4>
                        <a class="btn btn-primary btn-block" style="width: 75%; margin-left: 12%;" href="/dashboard/return">Callback</a>
                    </div>
                </div>
            </div>

            <div class="lead mt-4 text-center">
                <h6>
                  <p>If you need to Register a new Admin or Leave, please Logout and if applicable proceed to the Registration Page.</p>
                </h6>
                <a href="/admin/logout" class="btn btn-secondary btn-block" style="width: 50%; margin-left: 25%;"> Logout </a>
            </div>
           
        </div>
    </div>
</div>
