<div style="background-color:rgb(233, 233, 236); border-color: rgb(75, 72, 72); border-width: thin; border-style: solid;">
    <%- include('./partials/dashnav.ejs') %>
    
    <h1>Instructions</h1>
    <div>
        <h2>Joining the Line</h2>
        <ol>
            <li>On Checkin/Queue Page, hit the "add voter" button.</li>
            <li>Collect QR code</li>
            <li>Return at designated time</li>
        </ol>
    </div>
    <div>
        <h2>Returning</h2>
        <ol>
            <li>Have QR Code Scanned</li>
            <li>Proced to vote</li>
        </ol>
    </div>

    <%- include('./partials/footer.ejs') %>
</div>


