<div style="background-color:rgb(233, 233, 236); border-color: rgb(75, 72, 72); border-width: thin; border-style: solid;">
    <%- include('./partials/dashnav.ejs') %>
  
    <p>Help</p>
  
    <%- include('./partials/footer.ejs') %>
</div>


