<div style="background-color:rgb(233, 233, 236); border-color: rgb(75, 72, 72); border-width: thin; border-style: solid;">
  <%- include('./partials/welcomenav.ejs') %>

  <h1 class="text-center mb-3" style="margin-top: 15px;">
    <i class="fas fa-sign-in-alt fa-2x"></i> Admin Login
  </h1>

  <div class="card text-white bg-secondary mb-3" style="width: 50%; margin-left: 25%; margin-bottom: 15px; background-color: rgb(255, 255, 255);">
    <div class="card-header">Login Form</div>
    <div class="card-body">
      <%- include('./partials/messages.ejs') %>
      <form action="/admin/login" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="username"
            id="username"
            name="username"
            class="form-control"
            placeholder="Enter Username"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>
</div>






