<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">

      <h1 class="text-center mb-3">
        <i class="fa fa-wrench"></i> Queue Fixer
      </h1>

      <div class="card card-body">
        <h5 class="text-center">
          <i></i> Update Form
        </h5>

        <%- include('./partials/messages.ejs') %>
        <form action="/dashboard/checkin/queueUpdate" method="POST">
          <div class="form-group">
            <label for="boothCount">Booth Count</label>
            <input
              type="boothCount"
              id="boothCount"
              name="boothCount"
              class="form-control"
              placeholder="Enter Booth Count"
              value="<%= typeof boothCount != 'undefined' ? boothCount : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="callbackRange">Callback Range</label>
            <input
              type="callbackRange"
              id="callbackRange"
              name="callbackRange"
              class="form-control"
              placeholder="Enter Callback Range"
              value="<%= typeof callbackRange != 'undefined' ? callbackRange : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block"> Update </button>
        </form>
      </div>
       
      <div class="lead mt-4 text-center">
        <h6>
          <p>If the Queue does not need to be Updated you may proceed to the Checkin Page.</p>
        </h6>
        <a class="btn btn-secondary btn-block" href="/dashboard/checkin">Return to Queue</a>  
      </div>

    </div>
  </div>
</div>