<div class="row mt-5">
  <div class="col-md-6 m-auto">

    <h1 class="text-center mb-3">
      <i class="fas fa-user-plus"></i> Set New Queue Parameters
    </h1>

    <%- include('./partials/messages.ejs') %>
    <form action="/dashboard/checkin/queueUpdate" method="POST">
      <div class="form-group">
        <label for="boothCount">Booth Count</label>
        <input
          type="boothCount"
          id="boothCount"
          name="boothCount"
          class="form-control"
          placeholder="Enter Booth Count"
          value="<%= typeof boothCount != 'undefined' ? boothCount : '' %>"
        />
      </div>
      <div class="form-group">
        <label for="callbackRange">Callback Range</label>
        <input
          type="callbackRange"
          id="callbackRange"
          name="callbackRange"
          class="form-control"
          placeholder="Enter Callback Range"
          value="<%= typeof callbackRange != 'undefined' ? callbackRange : '' %>"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block"> Update </button>
    </form>
        
    <div class="lead mt-4 text-center">
      <h1 class="text-center mb-3">
        <i class="fas fa-retweet"></i> Don't need to Update the Queue?
      </h1>
      <a class="btn btn-primary btn-block" href="/dashboard/checkin">Return to Checkin</a>  
    </div>

  </div>
</div>