<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1> <i class="fab fa-node-js fa-3x"></i> </h1>
        <p>Returning Voter Queue</p>
        <div class="lead mt-4 text-center">
          <a href="/admin/logout" class="btn btn-secondary"> Admin Logout </a>
          <a class="btn btn-primary btn-block" href="/dashboard">Go Back to Main Dashboard</a>  
        </div>  
        
        <form action="/dashboard/return" method="POST">
          <div class="form-group">
            <label for="voterqr">Voter QR Code</label>
            <input
              type="voterqr"
              id="voterqr"
              name="voterqr"
              class="form-control"
              placeholder="Enter Voter QR Code"
              value="<%= typeof voterqr != 'undefined' ? voterqr : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block"> submit </button>
        </form>

        </div>
      </div>
    </div>
  </div>

