<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1> <i class="fab fa-flag fa-3x"></i> </h1>
      <p>Welcome to VoterPass</p>
      <div class="lead mt-4 text-center">
        <a class="btn btn-primary btn-block" href="/admin/startup">Startup System</a>  
        <a class="btn btn-primary btn-block" href="/admin/login">Already Started? Login</a>  
      </div>
    </div>
  </div>
</div>


  